<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="Source1" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=Erm01;Integrated Security=True" />
        <add name="Source2" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=Erm01;Integrated Security=True" />
    </connectionStrings>
</configuration>
